.App {
  text-align: center;
  color: white;
  height: 100vm;
}

.App header {
  margin: 2em 0;

}

.logo {
  height: 40vmin;
  font-size: 2em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: cyan;
}
