@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "SuisseIntl";
    src: url('assets/fonts/SuisseIntl/SuisseIntl-Regular.ttf');
  }
  @font-face {
    font-family: "SpaceGrotesk";
    src: url('assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf');
  }
  @font-face {
    font-family: "SpaceGrotesk";
    font-weight: 700;
    src: url('assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf');
  }
  @font-face {
    font-family: "SpaceMono";
    src: url('assets/fonts/SpaceMono/SpaceMono-Regular.ttf');
  }
  @font-face {
    font-family: "SpaceMono";
    font-weight: 700;
    src: url('assets/fonts/SpaceMono/SpaceMono-Bold.ttf');
  }

  body {
    @apply font-body text-black overflow-x-hidden;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  form,
  button,
  h1, h2, p, a, span,
  .onboarding,
  .activity-item {
    -webkit-app-region: no-drag;
  }
  input {
    -webkit-user-select: text;
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .title {
    @apply text-header-l font-title text-primary leading-[1.25] tracking-[-0.4px];
  }

  .subtitle {
    @apply text-header-xxs font-title text-secondary tracking-[-0.4px];
  }
}

@layer components {
  
  .input {
    @apply text-header-3xs font-body text-white
    bg-transparent appearance-none focus:outline-none focus:ring-0;
  }

  .btn-primary {
    @apply py-2 px-4 h-12 rounded-full font-body text-body-s w-fit
    bg-transparent text-white border border-white border-solid
    hover:bg-white hover:text-primary hover:drop-shadow-[0_6px_12px_rgba(0,0,0,0.25)]
    active:bg-grayscale-250 active:text-primary active:drop-shadow-[0_2px_4px_rgba(0,0,0,0.32)]
    disabled:bg-transparent disabled:text-white disabled:opacity-50
    disabled:outline disabled:outline-1 disabled:outline-white
  }

  .btn-primary-small {
    @apply py-2 px-4 rounded-full font-body text-body-s text-white
    bg-primary hover:bg-primary-hover visited:bg-primary-click
    disabled:bg-grayscale-500 disabled:text-grayscale-700;
  }

  .btn-icon-primary-small {
    @apply h-4 w-4 m-1
  }

  .icon-primary path {
    @apply fill-primary group-hover:fill-primary-hover group-visited:fill-primary-click
    group-disabled:fill-grayscale-500
  }

  .icon-primary-white path {
    @apply fill-white
  }

  .icon-warning path {
    @apply fill-orange-200 group-hover:fill-orange-200 group-visited:fill-orange-200
    group-disabled:fill-grayscale-500
  }

  .icon-error path {
    @apply fill-red-200 group-hover:fill-red-200 group-visited:fill-red-200
    group-disabled:fill-grayscale-500
  }

  .btn-secondary {
    @apply font-body text-body-m
      text-primary
      hover:text-primary-hover
      visited:text-primary-click 
      disabled:text-grayscale-700;
  }

  .btn-secondary-small {
    @apply py-2 px-4 rounded-full font-body text-body-xs bg-opacity-0 border border-solid
     border-primary border-opacity-25  text-primary
     hover:border-primary-hover hover:border-opacity-25 hover:text-primary-hover
     visited:border-primary-click visited:border-opacity-25 visited:text-primary-click 
     disabled:border-grayscale-500 disabled:text-grayscale-500;  
  }

  .btn-primary-accent {
    @apply bg-accent hover:bg-accent-hover visited:bg-accent-click
    disabled:bg-accent/40 
  }

  .link-primary {
    @apply text-body-xs text-primary underline decoration-primary/70
     hover:text-primary-hover hover:decoration-primary-hover/70
     visited:text-primary-click visited:decoration-primary-click/70
  }

  input:focus ~ label,	
  input:not(:placeholder-shown) ~ label{	
    --tw-rotate: 0;	
    --tw-skew-x: 0;	
    --tw-skew-y: 0;	
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))	
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));	
    --tw-translate-y: -2rem;
    @apply text-body-3xs
  }

}
