pre.log {
  min-height: 3em;
  max-height: 15vh;
  width: 80vw;

  padding: 1em;
  font-size: 12px;
  overflow-x: auto;
  border: 1px solid #c2b280;
  text-align: left;
}

input.fil-address {
  width: 48ch;
  margin: 0.5em;
}

.wallet {
  padding: 1em 0;
  text-align: left;
  font-size: 1rem;
}

.wallet form {
  display: inline
}

form .error {
  color: red;
  margin: 0;
}
